{% extends 'basic.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/add_book.css' %}">
<div class="grid">
    
    <form id="bookForm" action="/book/add" method="POST">
        {% csrf_token %}
      <fieldset>
          <legend>Add Book</legend>

          {% for field in form %}
          <label for="">{{ field.label_tag }}</label>
          <div class="{{ field.html_name }}">
          {% if field.html_name in myfields %}
            
            <div style="display: flex;align-items: center;" class="add-link">
              {{ field }}
              <a href="/{{ field.html_name }}/add">add</a>
              <button  type="button" id="{{ field.html_name }}">Order</button>
            </div>
            {% else %}    
                {{ field }}
            {% endif %}
            </div>
             
         
      {% endfor %}

</fieldset>
<div class="form-submit">
    <button type="submit">Submit</button>
</div>
    
</form>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const textInputs = document.querySelectorAll('input[type="text"], input[type="date"], input[type="number"]');
        textInputs.forEach(input => {
            input.addEventListener('input', function() {
                if (input.value.trim()) {
                    input.style.borderColor = 'green';
                } else {
                    input.style.borderColor = 'black';
                }
            });
        });

        var selectTags = document.querySelectorAll('select'); // Select all select elements
        selectTags.forEach(selectTag => {
            selectTag.addEventListener('change', function(){
                if (selectTag.selectedIndex !== -1) {
                    selectTag.style.borderColor = 'green';
                }
            });
        });

        
    });
   

  //--------------------------
    function orderOptions(argument) {
    var select = document.getElementById(argument);
    var options = Array.from(select.options);

    options.sort(function(a, b) {
        return a.text.localeCompare(b.text);
    });

    select.innerHTML = "";
    options.forEach(function(option) {
        select.add(option);
    });
    }
    //-----------------sort publisher author category-----------
    
    document.getElementById("category").addEventListener("click", function() {
        orderOptions("id_category");
        });

    document.getElementById("author").addEventListener("click", function() {
    orderOptions("id_author");
    });
    document.getElementById("author").addEventListener("click", function() {
    orderOptions("id_publisher");
    });


</script>
{% endblock %}