{% extends 'basic.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/add_book.css' %}">
<div class="grid">
    
    <form id="bookForm" action="/publisher/add" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Add Publisher :</legend>

            {{ form }}
             
        
        </fieldset>
        <div class="form-submit">
            <button type="submit">Submit</button>
        </div>
    
    </form>

</div>




{% endblock %}