{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
  <header>
    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <div class="dropdown">
        <button class="dropbtn">Book
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#about">About</a>
          <a href="#services">Services</a>
          <a href="#contact">Contact</a>
        </div>
      </div> 
    </div>
      
  </header>
  {% block content %}
  <!-- Default content for child templates -->
  {% endblock %}
</body>
</html>