{% extends 'basic.html' %}
{% load static %}
{% block content %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>Upload a File</h2>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <input type="file" name="myfile" id="fileToUpload">
        <input type="submit" value="Upload File" name="myfile">
    </form>
</body>
</html>
